@charset "UTF-8";

/* ****************************************************

	@file:		  style.css
	@cescription: Screen stylesheet
	@author:      remi (exomel.com)
	@updated:	  20100114

	@notes:       You can use this stylesheet to create
	              a custom Pubwich theme. You should
				  duplicate the `themes/default/`
				  directory, though, and then change
				  the `PUBWICH_THEME` constant in your 
				  configuration file.

******************************************************/

/**
 *	Basic
 ******************************************************************/

@import url(reset.css);

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix {display: inline-block;}
/* Hides from IE-mac \*/ * html .clearfix {height: 1%;} .clearfix {display: block;} /* End hide from IE-mac */

hr { display: none; } 
a * { cursor: pointer; }

html {
	font-size: 62.5%;
}

body {
	background: #024f35;
	background: #111;
	background: #fff8e1;
	/* color: #699787; */
	color: #000;
	font-size: 110%;
	line-height: 1.4;
	font-family: 'Segoe UI', Helvetica, Arial, "Lucida Grande", "Liberation Sans", Tahoma, Verdana, sans-serif;
				 /* Yay for Liberation! */
	padding: 40px 0 10px;
}

#wrap {
	font-size: 110%;
	width: 960px;
	margin: 0 auto;
}

#skip {
	position: absolute;
	left: -999px;
}

a {
	color: #9e9473;
	text-decoration: none;
	border-bottom: 1px dotted;
}

a:hover {
	color: #62593d;
	border-color: #62593d;
}

acronym, abbr {
	cursor: help;
}

h1 {
	font-size: 320%;
	font-weight: bold;
	text-align: center;
	padding-top: 0.1em;
	padding-bottom: 1.2em;
	width: 100%;
	color: #9e9473;
	text-shadow: 1px 1px 0 #fff;
	letter-spacing: -0.02em;
}

h1 a {
	border: none;
	color: #9e9473;
}

h1 a:hover {
	color: #62593d;
}

.erreur {
	background: #fff;
	opacity: 0.2;
	padding: 8px 10px;
}

/**
 *	Pied de page
 ******************************************************************/
 
#footer {
	text-align: center;
	padding: 1.3em 0 1.9em;
}

#footer a.pubwich {
	background: url("img/pubwich.png") no-repeat;
	padding: 2px 1px 2px 17px;
	border: none;
}

/**
 *	Colonnes
 ******************************************************************/
 
.col1 {
	width: 337px;
	margin-right: 20px;
	float: left;
}

.col2 {
	width: 358px;
	margin-right: 20px;
	float: left;
}

.col3 {
	width: 225px;
	float: left;
}

/**
 * Boites
 ******************************************************************/
 
.boite {
	margin: 0 0 18px;	
	border: 1px solid #dfd3ac;
	background: #fffcf1;
	box-shadow: 0 0 8px rgba( 0, 0, 0, 0.1 );
	-moz-box-shadow: 0 0 8px rgba( 0, 0, 0, 0.1 );
	-webkit-box-shadow: 0 0 8px rgba( 0, 0, 0, 0.1);
}

.boite.nodata {
	opacity: 0.5;
}

.boite h2 {
	font-size: 130%;
	padding: 8px 10px 9px;
	color: #c5b78a;
	background: #fff;
	line-height: 1;
	border-bottom: 1px solid #dfd3ac;
}

.boite h2 span {
	font-size: 80%;
	font-weight: normal;
}

.boite h2 a {
	text-decoration: none;
	border: none;
}

.boite ul li {
	margin-bottom: 5px;
}

.boite ul li.nodata {
	opacity: 0.5;
}

.boite .boite-inner {
	padding: 10px;
}

.boite.no-title h2 {
	display: none;
}

/**
 *	Text box
 ******************************************************************/

.text .boite-inner {
	padding-bottom: 1px;
}

.text .boite-inner p {
	margin: 0 0 1em;
}

/**
 *	RSS & Atom
 ******************************************************************/

.rss li, .atom li {
	padding: 5px;
}

/**
 *	Flickr
 ******************************************************************/

.flickr h2 a {
	color: #0063DC;
}

.flickr h2 em {
	color: #FF0084;
	font-style: normal;
}

.flickr ul li {
	float: left;
	padding-right: 5px;
	background: none;
}

.flickr ul li.derniere {
	padding-right: 0;
}

.flickr ul li a {
	border: none;
}

.flickr ul li img {
	display: block;
}

/**
 *	Last.fm
 ******************************************************************/

.lastfm h2 a {
	color: #DC413A;
}

.lastfm li {
	float: left;
	width: 100%;
	background: none;
}


.lastfm li a {
	text-decoration: none;
	border: none;
	display: block;
	padding: 5px;
}

.lastfm li a:hover {
}

.lastfm li img {
	background: url("img/cover.png");
}

.lastfm li img {
	display: block;
	float: left;
}

.lastfm li a strong {
	display: block;
	margin-left: 70px;
	font-weight: normal;
	padding: 8px 5px 8px 10px;
}

.lastfm li a span {
	font-size: 100%;
	display: block;
	font-weight: bold;
}

.lastfm li.premier span {
	font-size: 145%;
}

.lastfm li.deuxieme span {
	font-size: 130%;
}

.lastfm li.troisieme span {
	font-size: 120%;
}

.lastfm li.quatrieme span {
	font-size: 110%;
}

.lastfm li.cinquieme span {
	
}


/**
 *	Twitter
 ******************************************************************/

.twitter h2 a {
	color: #33CCFF;
}

.twitter li {
	padding: 5px 10px 7px;
	margin: 0 0 5px;
}

.twitter li span.image, 
.twitter li span.date {
	display: block;
	float: left;
	width: 85px;
	margin-right: 10px;
}

.twitter li span.image {
	width: 48px;
}

.twitter li span.image a, 
.twitter li span.date a {
	text-decoration: none;
	border: none;
}

.twitter li p {
	display: block;
	margin-left: 95px;
}

.twitter li em.from {
	display: none;
}

.twittersearch li p {
	margin-left: 65px;
}

.twittersearch li p.date {
	margin-top: 3px;
	color: rgba(0,0,0,0.4);
}

.twittersearch li p.date a {
	color: rgba(0,0,0,0.4);
	border-bottom: none;
}

/**
 *	StatusNet
 ******************************************************************/

.statusnet h2 a {
	color: #33CCFF;
}

.statusnet li {
	padding: 5px 10px 7px;
	margin: 0 0 5px;
}

.statusnet li span.image, 
.statusnet li span.date {
	display: block;
	float: left;
	width: 85px;
	margin-right: 10px;
}

.statusnet li span.image {
	width: 48px;
}

.statusnet li span.image a, 
.statusnet li span.date a {
	text-decoration: none;
	border: none;
}

.statusnet li p {
	display: block;
	margin-left: 95px;
}

.statusnet li em.from {
	display: none;
}

.statusnetsearch li p {
	margin-left: 65px;
}

.statusnetsearch li p.date {
	margin-top: 3px;
	color: rgba(0,0,0,0.4);
}

.statusnetsearch li p.date a {
	color: rgba(0,0,0,0.4);
	border-bottom: none;
}

/**
 *	Del.icio.us
 ******************************************************************/

.delicious h2 a {
	color: #3274D0;	
}

.delicious li {
	display: block;
	padding: 6px;
}

.delicious li .desc {
	display: block;
	line-height: 1.2;
	padding-top: 4px;
}

/**
 *	Readernaut
 ******************************************************************/

.readernaut h2 a {
	color: #B6C125;
}

.readernaut ul {
	padding-top: 5px;
}
 
.readernaut li {
	float: left;
	width: 100%;
}

.readernaut li a {
	text-decoration: none;
	border: none;
	display: block;
	padding: 5px 0 5px 5px;
}

.readernaut li a:hover {
}

.readernaut li img {
	display: block;
	float: left;
}

.readernaut li img {
        
}

.readernaut li a strong {
	display: block;
	margin-left: 55px;
	font-weight: normal;
	padding: 8px 10px 8px 10px;
}

.readernaut li a span {
	display: block;
	font-weight: bold;
	line-height: 1.2;
}


/**
 *	Facebook
 ******************************************************************/

.facebook h2 a {
	color: #3B5998;
}

.facebook ul li {
	padding: 5px;
}

/**
 *	Youtube
 ******************************************************************/

.youtube h2 a {
	color: #D62323;
}

.youtube li a {
	display: block;
	padding: 5px;
	border: none;
}

.youtube li a img {
	float: left;
	display: block;
}

.youtube li a strong {
	display: block;
	margin-left: 130px;
}

.youtube li a span {
	display: block;
	margin-left: 130px;
}

/**
 *	Vimeo
 ******************************************************************/

.vimeo h2 a {
	color: #9FC54E;
}

.vimeo li a {
	display: block;
	padding: 5px;
	border: none;
}

.vimeo li a img {
	float: left;
	display: block;
}

.vimeo li a strong {
	display: block;
	margin-left: 90px;
}

.vimeo li a span {
	display: block;
	margin-left: 110px;
}

/**
 *	WTF (aussi appelé "intro")
 ******************************************************************/

.wtf {
	margin-bottom: 0;
}

.wtf div {
	padding: 5px;
}

.wtf p {
	margin: 0 0 1em;
}

/**
 *	Crédits
 ******************************************************************/
 
.credits p {
	padding: 5px;
	margin: 0 0 0.3em;
}

.credits a.pubwich {
}

.credits a.pubwich strong {
}

/**
 *	Gowalla
 ******************************************************************/

.gowalla h2 a { color: #FF4400; }

.gowalla .boite-inner {
	padding: 10px 8px 2px;
}

.gowalla .boite-inner a {
	border: none;
}

.gowalla .boite-inner a img {
	float: left;
	margin: 7px 0 0 5px;
	-ms-interpolation-mode:bicubic; /* propriété propriétaire (!) d'IE7 */
}

.gowalla .boite-inner a strong {
	display: block;
	margin: 0 0 0 36px;
}

.gowalla .boite-inner small {
	display: block;
	margin: 0 0 0 36px;
	color: rgba(0,0,0,0.5);
}

.gowalla .boite-inner li {
	margin: 0 0 0.9em;
}

