@charset "UTF-8";

/* ****************************************************

	@file:		  style.css
	@cescription: Feuille de style d'écran
	@author:      remi (exomel.com)
	@updated:	  20090703

	@notes:       Vous pouvez vous servir de ce fichier
	              pour créer un nouveau thème pour
				  Pubwich.

******************************************************/

/**
 *	Basic
 ******************************************************************/

@import url(reset.css);

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix {display: inline-block;}
/* Hides from IE-mac \*/ * html .clearfix {height: 1%;} .clearfix {display: block;} /* End hide from IE-mac */

hr { display: none; } 
a * { cursor: pointer; }

html {
	font-size: 62.5%;
}

body {
	background: #024f35;
	background: #111;
	/* color: #699787; */
	color: rgba( 255, 255, 255, 0.6 );
	font-size: 110%;
	line-height: 1.4;
	font-family: Helvetica, Arial, "Lucida Grande", "Liberation Sans", Tahoma, Verdana, Arial, sans-serif;
				 /* Yay for Liberation! */
	padding: 40px 0 10px;
}

#wrap {
	font-size: 110%;
	width: 960px;
	margin: 0 auto;
}

#skip {
	position: absolute;
	left: -999px;
}

a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dotted;
}

a:hover {
	color: #cbe9df;
	border-color: #196145;
}

acronym, abbr {
	cursor: help;
}

h1 {
	font-size: 250%;
	font-weight: bold;
	text-align: center;
	padding-top: 0.1em;
	padding-bottom: 1.4em;
	width: 100%;
	color: #666;
}

h1 a {
	border: none;
	color: #fff;
}

h1 a:hover {
	color: #acdecd;
}

.erreur {
	background: #fff;
	opacity: 0.2;
	padding: 8px 10px;
}

/**
 *	Pied de page
 ******************************************************************/
 
#footer {
	text-align: center;
	padding: 1.3em 0 1.9em;
}

#footer a.pubwich {
	background: url("img/pubwich.png") no-repeat;
	padding: 2px 1px 2px 17px;
	border: none;
}

/**
 *	Colonnes
 ******************************************************************/
 
.col1 {
	width: 337px;
	margin-right: 20px;
	float: left;
}

.col2 {
	width: 358px;
	margin-right: 20px;
	float: left;
}

.col3 {
	width: 225px;
	float: left;
}

/**
 * Boites
 ******************************************************************/
 
.boite {
	margin: 0 0 18px;	
}

.boite h2 {
	font-size: 130%;
	padding: 11px 10px 9px;
	color: #fff;
	background: rgba( 0, 0, 0, 0.6 );
	-moz-border-radius: 0.5em 0.5em 0 0;
	line-height: 1.1;
}

.boite h2 span {
	font-size: 80%;
	color: rgba( 255, 255, 255, 0.3 );
	font-weight: normal;
}

.boite h2 a {
	text-decoration: none;
	border: none;
}

.boite ul li {
	background: rgba( 0, 0, 0, 0.06 );
	margin-bottom: 5px;
}

.boite .boite-inner {
	border: 1px solid rgba( 0, 0, 0, 0.7 );
	border-top: none;
	padding: 10px;
}

.boite.no-title .boite-inner {
	border-top: 1px solid rgba( 0, 0, 0, 0.7 );
}


/**
 *	RSS & Atom
 ******************************************************************/

.rss li, .atom li {
	padding: 5px;
}

/**
 *	Flickr
 ******************************************************************/

.flickr h2 a {
	color: #0063DC;
}

.flickr h2 em {
	color: #FF0084;
	font-style: normal;
}

.flickr ul li {
	float: left;
	padding-right: 5px;
	background: none;
}

.flickr ul li.derniere {
	padding-right: 0;
}

.flickr ul li a {
	border: none;
}

.flickr ul li img {
	display: block;
}

/**
 *	Last.fm
 ******************************************************************/

.lastfm h2 a {
	color: #DC413A;
}

.lastfm li {
	float: left;
	width: 100%;
	background: none;
}


.lastfm li a {
	text-decoration: none;
	border: none;
	display: block;
	padding: 5px;
}

.lastfm li a:hover {
}

.lastfm li img {
	background: url("img/cover.png");
}

.lastfm li img {
	display: block;
	float: left;
}

.lastfm li a strong {
	display: block;
	margin-left: 70px;
	font-weight: normal;
	padding: 8px 5px 8px 10px;
	color: rgba( 255, 255, 255, 0.5 );
}

.lastfm li a span {
	font-size: 100%;
	display: block;
	font-weight: bold;
	color: #fff;	
}

.lastfm li.premier span {
	font-size: 145%;
}

.lastfm li.deuxieme span {
	font-size: 130%;
}

.lastfm li.troisieme span {
	font-size: 120%;
}

.lastfm li.quatrieme span {
	font-size: 110%;
}

.lastfm li.cinquieme span {
	
}


/**
 *	Twitter
 ******************************************************************/

.twitter h2 a {
	color: #33CCFF;
}

.twitter li {
	padding: 5px 10px 7px;
	margin: 0 0 5px;
}

.twitter li span.date {
	display: block;
	float: left;
	width: 85px;
	margin-right: 10px;
}

.twitter li span.date a {
	text-decoration: none;
	border: none;
}

.twitter li p {
	display: block;
	margin-left: 95px;
}

.twitter li em.from {
	display: none;
}

/**
 *	Del.icio.us
 ******************************************************************/

.delicious h2 a {
	color: #3274D0;	
}

.delicious li {
	display: block;
	padding: 6px;
}

.delicious li .desc {
	display: block;
	line-height: 1.2;
	padding-top: 4px;
}

/**
 *	Readernaut
 ******************************************************************/

.readernaut h2 a {
	color: #B6C125;
}

.readernaut ul {
	padding-top: 5px;
}
 
.readernaut li {
	float: left;
	width: 100%;
}

.readernaut li a {
	text-decoration: none;
	border: none;
	display: block;
	padding: 5px 0 5px 5px;
}

.readernaut li a:hover {
}

.readernaut li img {
	display: block;
	float: left;
}

.readernaut li img {
        
}

.readernaut li a strong {
	display: block;
	margin-left: 55px;
	font-weight: normal;
	padding: 8px 10px 8px 10px;
	color: rgba( 255, 255, 255, 0.5 );
}

.readernaut li a span {
	display: block;
	font-weight: bold;
	color: #fff;
	line-height: 1.2;
}


/**
 *	Facebook
 ******************************************************************/

.facebook h2 a {
	color: #3B5998;
}

.facebook ul li {
	padding: 5px;
}

/**
 *	Youtube
 ******************************************************************/

.youtube h2 a {
	color: #D62323;
}

.youtube li a {
	display: block;
	padding: 5px;
	border: none;
}

.youtube li a img {
	float: left;
	display: block;
}

.youtube li a strong {
	display: block;
	margin-left: 130px;
}

.youtube li a span {
	display: block;
	margin-left: 130px;
	color: rgba( 255, 255, 255, 0.5 );
}

/**
 *	Vimeo
 ******************************************************************/

.vimeo h2 a {
	color: #9FC54E;
}

.vimeo li a {
	display: block;
	padding: 5px;
	border: none;
}

.vimeo li a img {
	float: left;
	display: block;
}

.vimeo li a strong {
	display: block;
	margin-left: 90px;
	color: #fff;
}

.vimeo li a span {
	display: block;
	margin-left: 90px;
	color: rgba( 255, 255, 255, 0.5 );
}

/**
 *	WTF (aussi appelé "intro")
 ******************************************************************/

.wtf {
	margin-bottom: 0;
}

.wtf div {
	padding: 5px;
}

.wtf p {
	margin: 0 0 1em;
}

/**
 *	Crédits
 ******************************************************************/
 
.credits p {
	padding: 5px;
	margin: 0 0 0.3em;
}

.credits a.pubwich {
}

.credits a.pubwich strong {
}
