@charset "UTF-8";

/* ****************************************************

	@file:		  style.css
	@description: Feuille de style d'écran
	@author:      remi (exomel.com)
	@updated:	  20090518

	@notes:       Vous pouvez vous servir de ce fichier
	              pour créer un nouveau thème pour
				  Pubwich.

******************************************************/

/**
 *	Basic
 ******************************************************************/

@import url(reset.css);

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix {display: inline-block;}
/* Hides from IE-mac \*/ * html .clearfix {height: 1%;} .clearfix {display: block;} /* End hide from IE-mac */

hr { display: none; } 
a * { cursor: pointer; }

body {
	background: #fff;
	color: #222;
	font-size: 62.5%;
	line-height: 1.5;
	font-family: "Liberation Sans", Tahoma, Verdana, Arial, sans-serif;
				 /* Yay for Liberation! */
	padding: 40px 40px;
}

#wrap {
	font-size: 110%;
	width: 100%;
	margin: 0 auto;
}

#skip {
	position: absolute;
	left: -999px;
}

a {
	color: #327e61;
	text-decoration: none;
	border-bottom: 1px dotted #327e61;
}

a:hover {
	color: #196145;
	border-color: #196145;
}

acronym, abbr {
	cursor: help;
}

h1 {
	font-size: 250%;
	font-weight: normal;
	text-align: center;
	padding-bottom: 0.7em;
	margin-bottom: 0.3em;
	width: 100%;
	color: #666;
}

h1 strong {
	color: #fafafa;
	font-weight: normal;
	font-style: normal;
	font-size: 140%;
}

h1 a {
	color: #666;
	border: none;
}

.erreur {
	background: #fff;
	opacity: 0.2;
	padding: 8px 10px;
}

/**
 *	Pied de page
 ******************************************************************/
 
#footer {
	text-align: center;
	padding: 1.3em 0 1.9em;
	color: #777;
}

#footer .footer-inner {
	width: 380px;
	margin: 0 0 0 335px;
}

#footer a {
	color: #aaa;
}

#footer a:hover {
	color: #fff;
}

/**
 *	Colonnes
 ******************************************************************/
 
.col1 {
	width: 32%;
	margin-right: 2%;
	float: left;
}

.col2 {
	width: 32%;
	margin-right: 2%;
	float: left;
}

.col3 {
	width: 32%;
	float: left;
}

/**
 * Boites
 ******************************************************************/
 
.boite {
	margin: 0 0 18px;	
}

.boite h2 {
	font-size: 130%;
	padding: 8px 10px 9px;
	background: #eee;
	margin-bottom: 0.3em;
	color: #333;
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	line-height: 1.1;
}

.boite h2 span {
	font-size: 80%;
	color: #444;
	font-weight: normal;
}

.boite h2 a {
	text-decoration: none;
	border: none;
}

.boite ul li {
	background: rgba( 0, 0, 0, 0.04 );
	margin-bottom: 5px;
}


/**
 *	Flickr
 ******************************************************************/

.flickr h2 a {
	color: #0063DC;
}

.flickr h2 em {
	color: #FF0084;
	font-style: normal;
}

.flickr ul li {
	float: left;
	padding-right: 5px;
	background: none;
}

.flickr ul li.derniere {
	padding-right: 0;
}

.flickr ul li a {
	border: none;
}

.flickr ul li img {
	display: block;
}

/**
 *	Last.fm
 ******************************************************************/

.lastfm h2 a {
	color: #DC413A;
}

.lastfm li {
	float: left;
	width: 100%;
	background: none;
}


.lastfm li a {
	text-decoration: none;
	border: none;
	display: block;
	padding: 5px 0 5px 5px;
	background: rgba(0, 0, 0, 0.04);
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
}

.lastfm li a:hover {
}

.lastfm li img {
	background: url("img/cover.png");
}

.lastfm li img {
	display: block;
	float: left;
}

.lastfm li a strong {
	display: block;
	margin-left: 70px;
	font-weight: normal;
	padding: 8px 5px 8px 10px;
	color: #777;
}

.lastfm li a span {
	font-size: 100%;
	display: block;
	font-weight: bold;
	color: #666;
	
}

.lastfm li.premier span {
	font-size: 145%;
}

.lastfm li.deuxieme span {
	font-size: 130%;
}

.lastfm li.troisieme span {
	font-size: 120%;
}

.lastfm li.quatrieme span {
	font-size: 110%;
}

.lastfm li.cinquieme span {
	
}


/**
 *	Twitter
 ******************************************************************/

.twitter h2 a {
	color: #33CCFF;
}

/**
 *	Exomel
 ******************************************************************/

.exomel h2 a {
	color: #86BAAB;
}

/**
 *	Del.icio.us
 ******************************************************************/

.delicious h2 a {
	color: #3274D0;	
}

.delicious li {
	display: block;
	padding: 6px;
}

/**
 *	Readernaut
 ******************************************************************/

.readernaut h2 a {
	color: #B6C125;
}

/**
 *	Facebook
 ******************************************************************/

.facebook h2 a {
	color: #3B5998;
}

/**
 *	Youtube
 ******************************************************************/

.youtube h2 a {
	color: #D62323;
}

/**
 *	Vimeo
 ******************************************************************/

.vimeo h2 a {
	color: #9FC54E;
}

/**
 *	WTF (aussi appelé "intro")
 ******************************************************************/

.wtf {
	margin-bottom: 0;
}

.wtf div {
	padding: 5px;
}

.wtf p {
	margin: 0 0 1em;
}

/**
 *	Crédits
 ******************************************************************/
 
.credits p {
	padding: 5px;
	margin: 0 0 0.3em;
}

.credits a.pubwich {
}

.credits a.pubwich strong {
}
